@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.background {
  background-image: url("~src/assets/kirschbaum.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 140px;
  padding-top: 60px;
}




