@use 'src/app/var';

.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: var.$gray;
  background-color: var.$brown;
  padding: 5px 15px;
  border: none;
  border-radius: var.$box-border;
  outline: none;

  &:hover {
    color: whitesmoke;
    cursor: pointer;
    background-color: var.$light-gray;
    font-weight: bolder;
  }
}
