<div class="content">

  <h1>Zertifikate</h1>

  <p>
    Hier finden Sie alle meine bisherigen Zertifikate als PDF-Datein.
  </p>

  <div class="preview-box">

    <div class="preview" *ngFor="let item of certificates">

      <a target="_blank" [href]="item.url">

        <img [src]='item.preview' alt="Vorschaubild Zertifikat">
        <div class="label"> {{item.label}} </div>

      </a>

    </div>

  </div>

  <div class="horizontal-row"> &nbsp;</div>


  <h1>Portfolio</h1>

  <p>
    Sie möchten sehen, welche Projekte ich bisher erstellt habe und an welchen ich gerade arbeite?
    <br>
    Sie sind herzlich dazu eingeladen, sich mein Portfolio anzusehen.
  </p>

  <div class="preview-box">

    <div class="preview" *ngFor="let item of portfolio">

      <a target="_blank" [href]="item.url">

        <img [src]='item.preview' alt="Vorschaubild Portfolio">
        <div class="label"> {{item.label}} </div>

      </a>

    </div>

  </div>


  <div class="horizontal-row"> &nbsp;</div>

  <h1>Werdegang</h1>


  <div class="stations">

    <div class="stations-element" *ngFor="let item of station">

      <h4 class="company">
        {{item.company}}
      </h4>

      <div class="row">
        <p class="position">
          {{item.position}}
          <br>
          <span class="special">
            {{item.specialization}}
            </span>
        </p>

        <p class="date">
          {{item.date.toUpperCase()}}
        </p>
      </div>

      <p class="describtion">
        {{item.description}}
      </p>

    </div>

  </div>

  <div class="text-box">

    <p>
      Falls Sie es noch nicht gelesen haben, möchte ich Sie einladen,
      <br>
      sich die folgenden Seiten
      anzusehen:
    </p>

    <p class="link-box">
        Hier finden Sie Antworten auf Fragen, die in nahezu jeden Bewerbungsgespräch aufkommen und solche,
        die den Interviewer möglicherweise interessieren, auf die ein Bewerber jedoch nicht antworten muss:
        <a class="in-app-links" routerLink="/antworten"><u>Antworten</u></a>.
    </p>

    <p class="link-box">
        Wenn ich Ihr Interesse wecken konnte, finden Sie
        <a class="in-app-links" routerLink="/kontakt"><u>hier</u></a>
        meine Kontaktdaten.
      </p>

  </div>

</div>
