@use 'src/app/var';

.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: var.$gray;
  background-color: var.$brown;
  border: none;
  border-radius: var.$box-border;
  outline: none;
  padding: 5px;

  &:hover {
    background-color: whitesmoke;
    cursor: pointer;
    font-weight: bolder;
    color: var.$link-color;
    box-shadow: var.$box-shadow;
  }
}
