@use 'src/app/var';

.outer {
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: var.$box-border;

  .inner {
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var.$box-border;
    padding: 25px;
    background-color: var.$content-background-color;
    max-height: 100%;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 25px #312d2d;

    h1 {
      color: var.$dark-brown;
      line-height: 160%;
    }

    p {
      text-align: justify;
    }

    a {
      text-decoration: none;
      color: var.$link-color;

      &:hover {
        cursor: pointer;
        @include var.link;
      }
    }

    .btn-box {
      display: flex;
      justify-content: center;

      .button {
        background-color: var.$brown;
        color: var.$gray;
        width: fit-content;
        padding: 5px;
        border-radius: var.$box-border;
        margin-top: 50px;

        &:hover {
          cursor: pointer;
          background-color: var.$gray;
          color: var.$brown;
          font-weight: bolder;

          &:hover {
            color: var.$link-color;
            background-color: whitesmoke;
            font-weight: bolder;
            box-shadow: var.$box-shadow;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .inner {
    width: 100%;
  }
}
