<div class="outer">
  <div class="inner">

    <h1>Staatlich geprüfter Betriebswirt</h1>

    <p>
      Der staatlich geprüfte Betriebswirt ist dem Bachelorabschluss gemäß dem Deutschen Qualitätsrahmen gleichgestellt
      und ist somit eine höhrere kaufmännische Qualifikation.
      <br>
      <br>
      Der Unterschied zu einem Studium an einer Hochschule besteht darin, dass er
      innerhalb von zwei Jahren (in Vollzeit) abgeschlossen wird und praxisbezogener, als ein Studium ist.
      <br>
      <br>
      Mein gewählter Schwerpunkt war
      die Finanzwirtschaft, wofür ich ähnlich der Bachelorarbeit eine Projektarbeit anfertigte.
      <br>
      <br>
      Abgeschlossen habe ich diese Qualifikation mit der Note 1,1.
      <br>
      <br>
    </p>

    <a href="assets/certificates/BetriebswirtAbschlusszeugnis.pdf" target="_blank">Betriebswirt Abschlusszeugnis</a>

    <div class="btn-box">
      <div class="button" (click)="closeModal()">schließen</div>
    </div>

  </div>
</div>
