@use 'src/app/var';

.wrapper {
  position: relative;
  left: 0;
  top: 0;
  height: 160px;
  background-image: url("~src/assets/kirschbaum.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60px;

  .background, .foreground {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .background {
    flex-direction: column;
    justify-content: center;
  }

  .foreground {
    align-items: center;
    justify-content: center;
  }

  .brown-bar {
    box-shadow: var.$box-shadow;
    background-color: var.$brown;
    height: 100px;
  }

  .links {
    max-width: 1000px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;

    a {
      font-size: large;
      color: var.$gray;
      font-weight: bolder;
      text-decoration: none;

      .hover-effect {
        color: transparent;
      }

      &:hover, &.active {
        color: whitesmoke;
        cursor: pointer;

        .hover-effect {
          color: whitesmoke;
        }
      }
    }
  }
}


@media (max-width: 1000px) {
  .wrapper {
    height: 250px;


    .background {
      justify-content: flex-end;
    }

    .foreground {
      flex-direction: column-reverse;
      justify-content: flex-start;

      .links {
        flex-grow: 0;
        padding: 25px 0;
        justify-content: space-evenly;
        width: 100%;
      }

      .card {
        flex-grow: 0;
      }
    }
  }
}


@media (max-width: 555px) {
  .wrapper {
    height: 260px;

    .background {

      .brown-bar {
        height: 160px;
      }
    }

    .foreground {

      .links {
        flex-wrap: wrap;

        a {
          text-align: center;
          width: 50%;
          padding: 5px 0;
        }
      }
    }
  }
}

