<div class="content">

  <!--
  <video src="#" poster="assets/placeholder2.jpg" controls></video>
  -->

  <div class="intro">

    <h1>Über Mich</h1>

    <p>
      Ich freue mich sehr, Sie auf meiner Website begrüßen zu dürfen.
    <p>
      Wenn Sie sich hier umschauen, habe ich die erste Hürde geschafft - Sie wurden auf mich aufmerksam.
    </p>

    <p>
      Damit Sie sich nicht durch alle Seiten und Dokumente klicken müssen, möchte ich Ihnen eine grobe Zusammenfassung
      geben:
    </p>

  </div>

  <div class="summary-box">
    <p>
      Geboren wurde ich 1989 in Rostock, wo ich bis 2014 gelebt habe. Seitdem ist der <i>Großraum Frankfurt am Main</i> mein
      neues Zuhause.
    </p>
    <br>
    <p>
      Seit 2016 bin ich mit meinem wundervollen Mann verheiratet - <i>Kinder haben wir keine</i>.
    </p>
    <br>
    <p>
      Ich bin <span (click)="showBetriebswirt()"> <u>staatlich geprüfte Betriebswirtin mit dem Schwerpunkt Finanzwirtschaft</u>.</span>
    </p>
    <br>
    <p>
      Ich möchte als <i>Frontend Entwicklerin</i> arbeiten und wünsche mir dabei nicht das "große Geld",
      sondern möchte in einem Unternehmen arbeiten, wo Teamarbeit und Menschlichkeit im Fokus stehen.
    </p>
    <br>
    <p>
      Meine Gehaltsvorstellung beläuft sich auf <i>etwa 30.000,-€ pro Jahr</i>, da mein Fokus aktuell darauf liegt,
      Berufserfahrungen zu sammeln und meine Fahigkeiten zu erweitern.
    </p>
  </div>

  <div class="intro">

    <p>
      Sie sind natürlich herzlich eingeladen, sich hier weiter umzuschauen und einen umfassenderen Eindruck von mir zu
      gewinnen.
      <br>

      Unter <a class="in-app-links" routerLink="/qualifikation"><u>Qualifikation</u></a> haben Sie Zugriff auf meine Zertifikate, mein Portfolio und
      erfahren etwas über meinen Werdegang.
      <br>
      Und auf der Seite <a class="in-app-links" routerLink="/antworten"><u>Antworten</u></a> können Sie meine Antworten auf häufig gestellte Fragen lesen.
    </p>

  </div>

</div>

<app-info-modal (close)="hideBetriebswirt()" *ngIf="betriebswirtModalVisible"></app-info-modal>
